{% extends 'base.html' %}
    {% block content %}
    <div class="container mt-4">
        {{ plot|safe }}</div>
        <div class="container mt-4">
            <h2>Dashboard</h2>
            <p>Analyse des données Velib.</p>
        </div>
        
        {% if 'capacity' in request.path %}
        <div class="container mt-4">
            <h4>Analysis Controls</h4>
        <form method="post" action="/capacity">
            <label for="order_by">Order By:</label>
            <select name="order_by" id="order_by">
                <option value="ASC">Ascending</option>
                <option value="DESC">Descending</option>
            </select>
        
            <label for="filter_by">Filter By:</label>
            <input type="text" name="filter_by" id="filter_by" placeholder="Enter filter value">
        
            <button class="btn btn-primary" type="submit">Submit / Reset Filter</button>
        </form>
        </div>
        {% endif %}
        
    {% endblock content %}